<include>
  <X-PRE-PROCESS cmd="set" data="external_sip_ip=128.140.104.236"/>
  <X-PRE-PROCESS cmd="set" data="external_rtp_ip=128.140.104.236"/>
  <X-PRE-PROCESS cmd="set" data="sipgate_realm=sipgate.de"/>
  <X-PRE-PROCESS cmd="set" data="sipgate_username=8702234e5"/>
  <X-PRE-PROCESS cmd="set" data="sipgate_password=__SIPGATE_PASSWORD__"/>
</include>
